{% extends 'base.html' %} {% load static %} {% load crispy-forms-tags %}

{% block content %}

<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
            {{form|crispy}}
        </fieldset>
        <div class="form-group">
            <button href="" class="btn btn-outline-info" type="submit">Sign up</button>
        </div>

    </form>
    <small class="border-top pt-5">
        <div class="text-muted">
            Already have an account
            <a class="ml-2" href="" >Sign in</a>
        </div>
    </small>
</div>

{% end block %}